@model List<WebApplication1.Models.LigthBulb>

@{
    ViewBag.Title = "Select Ligthbulb";
}
<p>@ViewBag.year > @ViewBag.manufacturer > @ViewBag.model > @ViewBag.trim > @ViewBag.Title</p>

<div id="col">
    @foreach (var item in Model)
    {
        <p>
            <a href="@item.AmazonLink">@item.Name</a>
        </p>
    }
</div>