@model List<WebApplication1.Models.LigthBulbCarSpecific>

@{
    ViewBag.Title = "All Ligthbulbs";
}
<p>@ViewBag.year > @ViewBag.manufacturer > @ViewBag.model > @ViewBag.trim > @ViewBag.Title</p>

<div id="col">
    @foreach (var item in Model)
    {
        <p>
            @item.ligthBulbPositionId.Name
        </p>
        <p>
            @item.oemPartNumber -- replacements
        </p>
        foreach (var bulbitem in item.LightbulbGenerics)
        {
            <p>
                @bulbitem.Size<br />
                @bulbitem.FilamentType<br />
                <a href="@bulbitem.AmazonLink">Buy</a><br />
            </p>
        }
    }
</div>